<section class="row main">
    <div class="buscador col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Ingresa tu Busqueda...">
                  <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Buscar</button>
                  </span>
        </div>
    </div>
</section>


<section class="row">
    <div class="col-md-10 col-md-offset-1">

        <article class="item col-md-4">
            <h3><a href="#">Subtitulo</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad consequuntur ipsa ipsam ipsum quam quidem quisquam sed sunt vel
            </p>
        </article>
        <article class="item col-md-4">
            <h3><a href="#">Subtitulo</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad consequuntur ipsa ipsam ipsum quam quidem quisquam sed sunt vel
            </p>
        </article>
        <article class="item col-md-4">
            <h3><a href="#">Subtitulo</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad consequuntur ipsa ipsam ipsum quam quidem quisquam sed sunt vel
            </p>
        </article>

    </div>
</section>