<div class="row">
    <nav>
        <ul class="nav nav-pills navbar-right">
            <li><a href="">filtros 1</a></li>
            <li><a href="">filtros 2</a></li>
            <li><a href="">filtros 3</a></li>
        </ul>
    </nav>
</div>
<h3>Resultados</h3>
<hr/>
<div class="row resultado">
    <article>
        <figure class="col-md-2">
            <img class="imagen_resultado thumbnail " src="#" alt="resultado"/>
        </figure>
        <section class="col-md-8 caption">
            <h2>Titulo del Resultado</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam autem consequatur consequuntur
                cum debitis deleniti dolore, ex fugiat ipsa mollitia officiis pariatur quasi recusandae saepe sapiente
                soluta sunt unde.
            </p>
        </section>
        <div class="col-md-2 btn-group-vertical">
            <button class="btn btn-default btn-md" ng-click="">Ver</button>
        </div>
    </article>
</div>
<hr/>
<div class="row">
    <article>
        <figure class="col-md-2">
            <img class="thumbnail" src="#" alt="resultado"/>
        </figure>
        <section class="col-md-8 caption">
            <h2>Titulo del Resultado</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam autem consequatur consequuntur
                cum debitis deleniti dolore, ex fugiat ipsa mollitia officiis pariatur quasi recusandae saepe sapiente
                soluta sunt unde.
            </p>
        </section>
        <div class="col-md-2 btn-group-vertical">
            <button class="btn btn-default btn-md" ng-click="">Ver</button>
        </div>
    </article>
</div>
<hr/>
<div class="row">
    <article>
        <figure class="col-md-2">
            <img class="thumbnail" src="#" alt="resultado"/>
        </figure>
        <section class="col-md-8 caption">
            <h2>Titulo del Resultado</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam autem consequatur consequuntur
                cum debitis deleniti dolore, ex fugiat ipsa mollitia officiis pariatur quasi recusandae saepe sapiente
                soluta sunt unde.
            </p>
        </section>
        <div class="col-md-2 btn-group-vertical">
            <button class="btn btn-default btn-md" ng-click="">Ver</button>
        </div>
    </article>
</div>
<hr/>
<div class="row">
    <article>
        <figure class="col-md-2">
            <img class="thumbnail" src="#" alt="resultado"/>
        </figure>
        <section class="col-md-8 caption">
            <h2>Titulo del Resultado</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam autem consequatur consequuntur
                cum debitis deleniti dolore, ex fugiat ipsa mollitia officiis pariatur quasi recusandae saepe sapiente
                soluta sunt unde.
            </p>
        </section>
        <div class="col-md-2 btn-group-vertical">
            <button class="btn btn-default btn-md" ng-click="">Ver</button>
        </div>
    </article>
</div>
<hr/>
<div class="row resultado">
    <article>
        <figure class="col-md-2 caption">
            <img class="thumbnail imagen_resultado " src="#" alt="resultado"/>
        </figure>
        <section class="col-md-8 caption">
            <h2>Titulo del Resultado</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam autem consequatur consequuntur
                cum debitis deleniti dolore, ex fugiat ipsa mollitia officiis pariatur quasi recusandae saepe sapiente
                soluta sunt unde.
            </p>
        </section>
        <div class="col-md-2 btn-group-vertical">
            <button class="btn btn-default btn-md" ng-click="">Ver</button>
        </div>
    </article>
</div>
