<div class="row">
    <nav>
        <ul class="nav nav-pills navbar-right">
            <li><a href="">filtros 1</a></li>
            <li><a href="">filtros 2</a></li>
            <li><a href="">filtros 3</a></li>
        </ul>
    </nav>
</div>
<h2><small>Resultados</small></h2>
<hr/>
<div class="row resultado" ng-repeat="item in resultados">
    <article>
        <figure class="col-md-2">
            <img class="imagen_resultado thumbnail " src="{{item.thumbnail}}" alt="resultado"/>
        </figure>
        <section class="col-md-8 caption">
            <h4>{{item.title}}</h4>
            <p class="text-info">
                {{item.}}
            </p>
        </section>
        <div></div>
        <div class="col-md-2 btn-group-vertical  ver">
            <a class=" btn btn-default btn-md" href="{{item.permalink}}">
                Ver
            </a>
        </div>
    </article>
</div>
